<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>These are all students</h1>

    <%= name %>
    <%= students %>

    <% if (name='Clement') { %>
     <h1>He is a guy</h1>
    <% } %>

   <% if (age>=18) { %>
  <p>This is an aldult</p>

<% } else if (age<17 && age>12) { %>
  <p>This is a Minor</p>

<% } else { %>
  <p>This is a child</p>
<% } %>
</body>
</html>